@import "colors";

@import "~bootstrap/scss/bootstrap";

:root {
	color: $colorTextPrimary;
}

body {
	background-color: $colorBackground;
}

.card {
	background: $colorForeground;
	color: $colorTextPrimary;
}
