/* This file is used to for our custom content used throughout the site */
#brandingImage {
	margin: 10px auto 30px;
	width: 200px;
	height: 200px;
}

#pageHome {
	justify-content: center;
	text-align: center;
}

#fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: var(--colorSale);
    color: #ffffff;
    z-index: 100;
}

#content {
	opacity: 0;
}

.btn-sale {
	color: var(--colorSale);
}

#icon {
	position: relative;
	bottom: -4px;
}

#icon.icon-sales {
	color: var(--colorSale);
}

#icon.icon-wishlist {
	color: var(--colorWishlist);
}

#icon.icon-about {
	color: var(--colorTextLink);
}

.modal-body {
	height: calc(100vh - 300px);
	min-height: 150px;
	overflow-y: scroll;
}

.modal-body::-webkit-scrollbar {
	-webkit-appearance: none;
	width: 7px;
}


.modal-body::-webkit-scrollbar-thumb {
	border-radius: 5px;
	background-color: var(--colorScrollbar);
}

