/* This file is used to for our custom content used throughout the site */
#brandingImage {
	margin: 10px auto 30px;
	width: 200px;
	height: 200px;
}

#pageHome {
	justify-content: center;
	text-align: center;
}

body > #fab {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background: var(--colorSale);
    color: #ffffff;
    z-index: 100;
}

.form-control {
	color: white;
}

.btn-primary{
	color: var(--colorSale) !important;
}

.btn-secondary {
	color: white !important;
}
#icon {
	position: relative;
	bottom: -4px;
}

#icon.icon-sales {
	color: var(--colorSale);
}

#icon.icon-wishlist {
	color: var(--colorWishlist);
}

#icon.icon-about {
	color: var(--colorTextLink);
}

